<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="magnific-popup.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
    link(rel="stylesheet", href="styles.css")
    title Document
body
    #fullpage
            section.section
                .section__image 
                    picture
                        source(srcset="img/backs/m/1.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/s/1-s.jpg")
                        source(srcset="img/backs/l/1-l.jpg")    
                        img(src="img/backs/l/1-l.jpg" alt="")
                .section__fade
                .section__content
                    .logo: img(src="img/ob-logo.png", alt="OldBoy logo")
                    h1 Открой свою мужскую парикмахерскую
                    p.center <mark>и начни зарабатывать от&nbsp;250&nbsp;000&nbsp;рублей в&nbsp;месяц</mark>

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/2.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/2-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/2-l.jpg")    
                        img(src="img/backs/l/2-l.jpg" alt="")
                .section__fade
                .section__content
                    p Наверняка Вы читаете эту презентацию не от безделья, а потому что хотите открыть собственный бизнес, который должен быть в первую очередь доходным и конечно же интересным
                    h2 <mark>Мы уверены, что&nbsp;мы&nbsp;—&nbsp;лучшие!</mark>
                    p.center <strong>Почему?</strong>
                    p.center <em>А вот почему, мы Вам сейчас и расскажем</em>

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/3.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/3-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/3-l.jpg")
                        img(src="img/backs/l/3-l.jpg" alt="")
                .section__fade
                .section__content
                    p.center <strong>Но!</strong>
                    p Вначале, давайте договоримся, что мы будем рассказывать <mark>все условия честно</mark> и без преувеличения, без использования шаблонов и дешёвых обещаний.
                    p.center <em>Будем рассказывать все понятно и на русском человеческом языке.</em>

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/4.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/4-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/4-l.jpg")
                        img(src="img/backs/l/4-l.jpg" alt="")
                .section__fade
                .section__content
                    p.center <em>Начнем прямо и сразу!</em>
                    h2.arrow Стоимость франшизы<br><sup>(паушальный взнос)</sup> <br>«OldBoy Barbershop»
                    p.center <strong>400 000 рублей</strong>
                    p + 100&nbsp;000 рублей для города миллионника
                    p + 100&nbsp;000 рублей за эксклюзив на города <br><small>(никто, кроме Вас, в городе не сможет больше открыть OldBoy)</small>

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/5.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/5-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/5-l.jpg")
                        img(src="img/backs/l/5-l.jpg" alt="")
                .section__fade
                .section__content
                    h2 Что входит в эту сумму?
                    p Взнос включает в себя в совокупности все расходы с нашей стороны, которые мы понесем <mark>для успешного открытия Вашего <mark>«OldBoy&nbsp;Barbershop»</mark>
                    p.center <em>А теперь более конкретно</em>

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/6.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/6-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/6-l.jpg")
                        img(src="img/backs/l/6-l.jpg" alt="")
                .section__fade
                .section__content
                    h2.arrow.arrow--stage Этапы открытия Вашего «OldBoy Barbershop»

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/7.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/7-s.jpg" media="(max-width): 900px")
                        source(srcset="img/backs/l/7-l.jpg")
                        img(src="img/backs/l/6-l.jpg" alt="")
                .section__fade
                header.section__header
                    .section__number 1
                    h2 Подписание договора
                .section__content
                    p Договор обычно заключается дистанционно. Если же Вы решите прилететь к нам в город (управляющая компания находится в г. Калининград), мы организуем Вам чартер и экскурсию по нашим OldBoy — покажем Вам как работает бизнес изнутри.
                    p Договор заключаем как и на физические, так и на юридические лица.
                    p Далее, у вас всегда будет на связи юрист от нашей команды, который поможет в любом вопросе по открытию и работе барбершопа.
            
            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/8.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/8-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/8-l.jpg")
                        img(src="img/backs/l/8-l.jpg" alt="")
                .section__fade
                header.section__header
                    .section__number 2
                    h2 Поиск помещения
                .section__content
                    p Мы даем критерии для поиска помещения в Вашем городе и всячески содействуем Вам в его подборе.
                    p Основатель сети «OldBoy Barbershop» вместе с дизайнерами будет оценивать  каждый предложенный вариант, и давать Вам обоснованную оценку по рентабельности  помещения, взвешивая все плюсы и минусы.
            
            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/9.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/9-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/9-l.jpg")
                        img(src="img/backs/l/9-l.jpg", alt="")
                .section__fade
                header.section__header
                    .section__number 3
                    h2 Создание дизайн-проекта
                .section__content
                    p После утверждения помещения, наша команда дизайнеров разрабатывает дизайн - проект. Это не просто дизайнеры, это специалисты, которые сделали более полусотни дизайнов барбершопа и знают все тонкости от правильного расположения розеток до таких тонких моментов, как направление света, расстояние между креслами и так далее.
                    p Дизайн делается от 5 до 7 рабочих дней. Вы будете принимать комплексное участие в процессе, всегда поддерживая связь с дизайнерами.
                    p Мы сохраним Ваши пожелания, используя корпоративный стиль компании.

            section.section
                h2 Примеры дизайн-проекта
                .section__gallery
                    a.img(href="img/interier/gallery1.png"): img.section__gallery-img(src="img/interier/gallery1.jpg", alt="")
                    a.img(href="img/interier/gallery2.png"): img.section__gallery-img(src="img/interier/gallery2.jpg", alt="")
                    a.img(href="img/interier/gallery3.png"): img.section__gallery-img(src="img/interier/gallery3.jpg", alt="")
                    a.img(href="img/interier/gallery4.png"): img.section__gallery-img(src="img/interier/gallery4.jpg", alt="")
                    a.img(href="img/interier/gallery5.png"): img.section__gallery-img(src="img/interier/gallery5.jpg", alt="")

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/10.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/10-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/10-l.jpg")
                        img(src="img/backs/l/10-l.jpg" alt="")
                .section__fade
                header.section__header
                    .section__number 4
                    h2 Ремонт помещения
                .section__content
                    p После получения дизайн проекта, в котором будут все электросхемы и цветные отрисовки дизайна, включая материалы, Вам нужно будет согласовать и начать ремонт помещения с рабочей бригадой, которую находите Вы в своем регионе.

            section.section
                .section__image
                    picture 
                        source(srcset="img/backs/m/11.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/11-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/11-l.jpg")
                        img(src="img/backs/l/11.jpg" alt="")
                .section__fade
                header.section__header
                    .section__number 5
                    h2 Передача бренда
                .section__content
                    p  Мы скидываем вам полностью бренд-пак от визиток до подарочных сертификатов, а так же руководство к открытию, в котором будут всевозможные поставщики от элементов декора до эксклюзивной косметики. От программы обработки фотографии для соц. сетей, до текста, с помощью которого подать объявление о поиске администратора на Avito.

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/12.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/12-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/12-l.jpg")
                        img(src="img/backs/l/12-l.jpg" alt="")
                .section__fade
                header.section__header
                    .section__number 6
                    h2 Закупка оборудования
                .section__content
                    p Далее, Вам позвонят наши проверенные поставщики по оборудованию и инструменту. Мы не выступаем третьими лицами, накручивая наценку на товар.
                    p Товар Вы покупаете напрямую, используя наши максимальные скидки. Мы не ограничиваем Вас в выборе продавца, а лишь даем рекомендации. Если Вы вдруг найдете варианты дешевле (мы сомневаемся в этом), то Вы можете купить все самостоятельно.

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/13.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/13-s.jpg" media="(max-width 900px)")
                        source(srcset="img/backs/l/13-l.jpg")
                        img(src="img/backs/l/13-l.jpg", alt="")
                .section__fade
                header.section__header
                    .section__number 7
                    h2 Подключение CRM и онлайн-записи  
                .section__content
                    p Мы подключаем Вам и вашему Барбершопу мобильное приложение, СRМ систему учёта, и онлайн запись.
                    p Вы всегда сможете через телефон контролировать сумму в кассе, количество записей клиентов и проданный товар. CRM система учёта полностью исключает возможность воровства сотрудников.
                    p Мы за свой счёт оплачиваем аб. плату СRМ системы и несём все расходы на поддержку онлайн сервисов (моб. приложение, сайт).

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/14.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/14-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/14-l.jpg")
                        img(src="img/backs/l/14-l.jpg", alt="")
                .section__fade
                header.section__header
                    h2.center Управляйте барбершопом с телефона
                    p.center Наши барбершопы полностью автоматизированы:
                .section__content
                    ul.feature-list
                        li.feature-list__item
                            img.features-list__image(src="img/database.png", alt="")
                            p.feature-list__text <mark>Клиентская база</mark> со&nbsp;статистикой и&nbsp;историей посещений.</br>Помогает не терять постоянных клиентов.
                        li.feature-list__item
                            img(src="img/docs.png", alt="")
                            p.feature-list__text <mark>Электронный журнал</mark> записи клиентов, c&nbsp;функцией</br> SMS и E-mail напоминаний,</br> что уменьшает количество опоздавших на стрижку.
                        li.feature-list__item
                            img(src="img/online.png", alt="")
                            p.feature-list__text <mark>Онлайн&nbsp;запись</mark> помогает не&nbsp;упускать новых клиентов и облегчает работу администратора.
                        li.feature-list__item
                            img(src="img/mobile.png", alt="")
                            p.feature-list__text <mark>Мобильное приложение</mark> с&nbsp;онлайн-записью. Более 45% клиентов делают запись через мобильное приложение.
                        li.feature-list__item
                            img(src="img/graph.png", alt="")
                            p.feature-list__text <mark>Полная статистика</mark>, чтобы знать ключевые показатели бизнеса.

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/15.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/15-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/15-l.jpg")
                        img(src="img/backs/l/15-l.jpg", alt="")
                .section__fade
                header.section__header
                    .section__number 8
                    h2 Поиск мастеров
                .section__content
                    p Мы за свой счёт оплачиваем аб. плату СRМ системы и несём все расходы на поддержку онлайн сервисов (моб. приложение, сайт).
                    p Мы ищем мастеров через социальные сети, по объявлениям, вытягиваем домушников, переманиваем мастеров из других барбершопов и т.д. Ведем переговоры и обмениваемся информацией.
                    p Мастеров мы будем искать только опытных и имеющих стаж по работе с мужскими стрижками. Мы их найдем в любом по величине городе, это мы можем гарантировать.

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/16.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/16-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/16-l.jpg")
                        img(src="img/backs/l/16-l.jpg", alt="")
                .section__fade
                header.section__header
                    .section__number 9
                    h2 Реклама в соцсетях
                .section__content
                    p Далее, наша команда начинает раскручивать Вас в социальных сетях самостоятельно, не отвлекая Вас. Мы занимаемся группой ВКонтакте и&nbsp;Instagram аккаунтом.
                    p Мы самостоятельно разогреваем ажиотаж о готовящемся открытии «OldBoy Barbershop» в Вашем городе. Мы самостоятельно разогреваем ажиотаж о готовящемся открытии «OldBoy Barbershop» в Вашем городе.
                    p Это значительно экономит Ваше время.

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/17.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/17-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/17-l.jpg")
                        img(src="img/backs/l/17-l.jpg", alt="")
                .section__fade
                header.section__header
                    .section__number 10 
                    h2 Обучение мастеров и открытие 
                .section__content
                    p Мы вылетаем к Вам в город в составе ведущего специалиста, обладающего статусом технолога American Crew, и&nbsp;основателя OldBoy.
                    p Живем у Вас в городе, проводим кастинги по мастерам, мастер классы и, конечно же, передаем философию OldBoy. Общение по обмену опытом и технологии опасного бритья, а так же семинар правильного использования мужской косметики.
                    p Мы поможем Вам провести открытие, пострижем Ваших клиентов на открытии и конечно же создадим правильную атмосферу.

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/18.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/18-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/18-l.jpg")
                        img(src="img/backs/l/18-l.jpg", alt="")
                .section__fade
                .section__header
                    h2.center Для открытия потребуется
                .section__content
                    article.feature
                        .feature__image: img(src="img/room.png", alt="")
                        h3.feature__title Помещение
                        p.feature__text для барбершопа от 35&nbsp;до 70&nbsp;м<sup>2</sup>

                    article.feature
                        .feature__image: img(src="img/wallet.png", alt="")
                        h3.feature__title Инвестиции
                        p.feature__text 1&nbsp;000&nbsp;000 — 1&nbsp;150&nbsp;000 рублей (ремонтные работы, оборудование, косметика и открытие,<br>включая все дополнительные расходы)    
                        p.feature__addition Для Москвы и Санкт-Петербурга эта сумма будет 1&nbsp;250&nbsp;000 — 1&nbsp;400&nbsp;000 рублей 

                    article.feature
                        .feature__image: img(src="img/time.png", alt="")
                        h3.feature__title Время
                        p.feature__text для открытия от 35&nbsp;до 45&nbsp;дней

            section.section
                .section__header
                    h2.center Как будет выглядеть ваш барбершоп
                .section__gallery
                    a(href="img/barbers/barber1.png").img: img(src="img/barbers/s/barber1-s.jpg" alt="").section__gallery-img
                    a(href="img/barbers/barber3.png").img: img(src="img/barbers/s/barber3-s.jpg", alt="").section__gallery-img
                    a(href="img/barbers/barber4.png").img: img(src="img/barbers/s/barber4-s.jpg", alt="").section__gallery-img
                    a(href="img/barbers/barber5.png").img: img(src="img/barbers/s/barber5-s.jpg", alt="").section__gallery-img
                    a(href="img/barbers/barber6.png").img: img(src="img/barbers/s/barber6-s.jpg", alt="").section__gallery-img
                    a(href="img/barbers/barber7.png").img: img(src="img/barbers/s/barber7-s.jpg", alt="").section__gallery-img
                    a(href="img/barbers/barber8.png").img: img(src="img/barbers/s/barber8-s.jpg", alt="").section__gallery-img
                    a(href="img/barbers/barber10.png").img: img(src="img/barbers/s/barber10-s.jpg", alt="").section__gallery-img
                    a(href="img/barbers/barber12.png").img: img(src="img/barbers/s/barber12-s.jpg", alt="").section__gallery-img

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/19.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/19-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/19-l.jpg")
                        img(src="img/backs/l/19-l.jpg", alt="")
                .section__fade
                header.section__header
                    h2.center Преимущества<br><small>франшизы «OldBoy Barbershop»</small>
                    article.feature
                        .feature__image: img(src="img/design.png", alt="")
                        h3.feature__title Эксклюзивный дизайн
                        p.feature__text неповторимая атмосфера брутального барбершопа

                    article.feature
                        .feature__image: img(src="img/open.png", alt="")
                        h3.feature__title Ни одного закрывшегося филиала
                        p.feature__text (из&nbsp;75 на&nbsp;16 июня 2017 года)

                    article.feature
                        .feature__image: img(src="img/money.png", alt="")
                        h3.feature__title Самый лояльный роялти
                        p.feature__text 5% с оборота, но не более 30&nbsp;000 рублей

                    article.feature
                        .feature__image: img(src="img/dollar.png", alt="")
                        h3.feature__title Без доп платежей
                        p.feature__text и накрутки на оборудование и материалы

                    
                    article.feature
                        .feature__image: img(src="img/creme.png", alt="")
                        h3.feature__title Собственное производство
                        p.feature__text мужской косметики

                    article.feature
                        .feature__image: img(src="img/tattoo.png", alt="")
                        h3.feature__title Тату-студия
                        p.feature__text без Ваших вложений(по желанию)
                        
            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/20.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/20-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/20-l.jpg")
                .section__fade
                header.section__header
                    h2.center О нашей поддержке
                .section__content
                    p Наша поддержка — <mark>это поддержка во всем.</mark> Это специальный штат профессионалов состоящий из дизайнеров, юристов, маркетологов, программистов, которые работают 5 дней в неделю специально для Вас!
                    p Например, через год, после того как состоялось открытие, Вы решите сделать баннер на какое-нибудь мероприятие, или&nbsp;Вам потребуется помощь юриста, дизайнера, то Вы просто обращаетесь к&nbsp;нам и получаете это совершенно <mark>бесплатно, и,&nbsp;самое главное, в&nbsp;короткий срок.</mark>
                    p Помимо всего этого у Вас будет персональный менеджер для решения любых вопросов, связанных с работой парикмахерской.

            section.section
                .section__image
                    picture
                        source(srcset="img/backs/m/21.jpg" media="(max-width: 700px)")
                        source(srcset="img/backs/s/21-s.jpg" media="(max-width: 900px)")
                        source(srcset="img/backs/l/21-l.jpg")
                        img(src="img/backs/l/21-l.jpg", alt="")
                .section__fade
                .section__content
                    p Если в вашем городе еще нет барбершопа OldBoy, то это лишь вопрос времени!
                    p Возможно, в этот самый момент твой (перейдем на ты?&nbsp;:) сосед или друг... а может даже враг, читает эту же презентацию и уже звонит нам.<br> А чего ждёшь ты?
                        p.center <strong><em>Звони сейчас!</em></strong>    
                        p.center: a(href="tel:+79527947836") +7&nbsp;952&nbsp;794&nbsp;-&nbsp;78&nbsp;-&nbsp;36
                        p.center <strong>Владислав</strong>
                        p.center менеджер по развитию франчайзинговой сети барбершопов OldBoy

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="jquery.fullpage.min.js")
    script(src="jquery.fullpage.min.js.map")
    script(src="magnific-popup.js")
    script(src="app.js")
