.scroll-spy {
    //positioning
    position: fixed;
    left: 1em;
    top: 0;
    bottom: 0;
    //box model
    width: 1em;
    height: 6em;
    margin: auto;
    z-index: 101;
    //typography
    font-size: 16px;
    text-align: center;
    
    &__list {
    //box model
    padding: 0;
    text-align: center;
    //visual
    list-style: none;
    line-height: 1;
    }
}